body {
  background: rgb(167, 166, 161);
}
.valyuta-box {
  padding: 30px 30px 15px;
  margin: 100px auto;
  width: 600px;
  background: white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.container-n {
  width: 100%;
  max-width: 1300px;
}
